In [8]:
import pandas as pd
import numpy as np

In [9]:
# Load the final dataset and test dataset from Parquet files
final_df = pd.read_parquet("../../datasets/final_dataset.parquet", engine="pyarrow")
test_df = pd.read_parquet("../../datasets/test.parquet", engine="pyarrow")

print("Datasets loaded.")

Datasets loaded.

In [10]:
# Display heads of both datasets
print("Head of final_df:")
display(final_df.head())

print("Head of test_df:")
display(test_df.head())

Head of final_df:

,card_id,authorized_flag,city_id_x,category_1_x,installments,category_3,merchant_category_id_x,merchant_id,month_lag,purchase_amount,...,avg_purchases_lag12,active_months_lag12,category_4,city_id_y,state_id_y,category_2_y,feature_1,feature_2,feature_3,target
0,C_ID_5037ff576e,0,322,0,1,1,278,223191,-3,-0.595260,...,0.919680,12.0,0,-1.0,11.0,3.0,5.0,1.0,1.0,-2.352713
1,C_ID_5037ff576e,1,138,0,1,1,307,311572,-4,1.189469,...,0.947394,12.0,0,-1.0,15.0,1.0,5.0,1.0,1.0,-2.352713
2,C_ID_5037ff576e,1,138,0,1,1,705,293697,-9,-0.640069,...,1.021108,12.0,0,-1.0,15.0,1.0,5.0,1.0,1.0,-2.352713
3,C_ID_5037ff576e,1,226,0,1,1,307,137680,-4,-0.652256,...,1.014457,12.0,0,-1.0,16.0,1.0,5.0,1.0,1.0,-2.352713
4,C_ID_5037ff576e,1,330,0,1,1,705,69949,-9,-0.674210,...,1.026715,12.0,0,-1.0,17.0,3.0,5.0,1.0,1.0,-2.352713

Head of test_df:

,card_id,feature_1,feature_2,feature_3,authorized_flag,city_id_x,category_1_x,installments,category_3,merchant_category_id_x,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id_y,state_id_y,category_2_y
0,C_ID_0ab67a22ab,3,3,1,0,235,0,1,1,412,...,1.02,1.145868,6.0,0.94,1.116073,12.0,0,235.0,12.0,1.0
1,C_ID_0ab67a22ab,3,3,1,1,235,0,1,1,278,...,1.13,1.105044,6.0,1.07,1.050216,12.0,0,235.0,12.0,1.0
2,C_ID_0ab67a22ab,3,3,1,0,-1,1,4,2,879,...,0.82,0.783000,6.0,0.65,0.584000,12.0,1,-1.0,-1.0,1.0
3,C_ID_0ab67a22ab,3,3,1,1,235,0,1,1,80,...,1.13,1.115248,6.0,1.09,1.073887,12.0,0,235.0,12.0,1.0
4,C_ID_0ab67a22ab,3,3,1,1,235,0,1,1,278,...,1.13,1.115248,6.0,1.09,1.073887,12.0,0,235.0,12.0,1.0

In [11]:
# Print all columns in final_df and test_df

print("Columns in final_df:")
print(final_df.columns.tolist())

print("\nColumns in test_df:")
print(test_df.columns.tolist())

Columns in final_df:
['card_id', 'authorized_flag', 'city_id_x', 'category_1_x', 'installments', 'category_3', 'merchant_category_id_x', 'merchant_id', 'month_lag', 'purchase_amount', 'purchase_date', 'category_2_x', 'state_id_x', 'subsector_id_x', 'merchant_group_id', 'merchant_category_id_y', 'subsector_id_y', 'numerical_1', 'numerical_2', 'category_1_y', 'most_recent_sales_range', 'most_recent_purchases_range', 'avg_sales_lag3', 'avg_purchases_lag3', 'active_months_lag3', 'avg_sales_lag6', 'avg_purchases_lag6', 'active_months_lag6', 'avg_sales_lag12', 'avg_purchases_lag12', 'active_months_lag12', 'category_4', 'city_id_y', 'state_id_y', 'category_2_y', 'feature_1', 'feature_2', 'feature_3', 'target']

Columns in test_df:
['card_id', 'feature_1', 'feature_2', 'feature_3', 'authorized_flag', 'city_id_x', 'category_1_x', 'installments', 'category_3', 'merchant_category_id_x', 'merchant_id', 'month_lag', 'purchase_amount', 'purchase_date', 'category_2_x', 'state_id_x', 'subsector_id_x', 'merchant_group_id', 'merchant_category_id_y', 'subsector_id_y', 'numerical_1', 'numerical_2', 'category_1_y', 'most_recent_sales_range', 'most_recent_purchases_range', 'avg_sales_lag3', 'avg_purchases_lag3', 'active_months_lag3', 'avg_sales_lag6', 'avg_purchases_lag6', 'active_months_lag6', 'avg_sales_lag12', 'avg_purchases_lag12', 'active_months_lag12', 'category_4', 'city_id_y', 'state_id_y', 'category_2_y']

In [13]:
# Reset index to ensure "card_id" is a column, not the index
final_df = final_df.reset_index()

# Define the desired column order based on the expected columns (target is the extra column in final_df)
col_order = ['card_id', 'authorized_flag', 'city_id_x', 'category_1_x', 'installments', 'category_3',
             'merchant_category_id_x', 'merchant_id', 'month_lag', 'purchase_amount', 'purchase_date',
             'category_2_x', 'state_id_x', 'subsector_id_x', 'merchant_group_id', 'merchant_category_id_y',
             'subsector_id_y', 'numerical_1', 'numerical_2', 'category_1_y', 'most_recent_sales_range',
             'most_recent_purchases_range', 'avg_sales_lag3', 'avg_purchases_lag3', 'active_months_lag3',
             'avg_sales_lag6', 'avg_purchases_lag6', 'active_months_lag6', 'avg_sales_lag12', 
             'avg_purchases_lag12', 'active_months_lag12', 'category_4', 'city_id_y', 'state_id_y', 
             'category_2_y', 'feature_1', 'feature_2', 'feature_3', 'target']

# Reorder final_df columns according to col_order
final_df = final_df[col_order]

# Print columns of final_df for verification
print("Final_df columns:")
print(final_df.columns.tolist())

Final_df columns:
['card_id', 'authorized_flag', 'city_id_x', 'category_1_x', 'installments', 'category_3', 'merchant_category_id_x', 'merchant_id', 'month_lag', 'purchase_amount', 'purchase_date', 'category_2_x', 'state_id_x', 'subsector_id_x', 'merchant_group_id', 'merchant_category_id_y', 'subsector_id_y', 'numerical_1', 'numerical_2', 'category_1_y', 'most_recent_sales_range', 'most_recent_purchases_range', 'avg_sales_lag3', 'avg_purchases_lag3', 'active_months_lag3', 'avg_sales_lag6', 'avg_purchases_lag6', 'active_months_lag6', 'avg_sales_lag12', 'avg_purchases_lag12', 'active_months_lag12', 'category_4', 'city_id_y', 'state_id_y', 'category_2_y', 'feature_1', 'feature_2', 'feature_3', 'target']

In [14]:
# Remove 'target' from the column order for test_df since test_df doesn't have it
test_col_order = [col for col in col_order if col != 'target']

# Reorder test_df columns to follow test_col_order
test_df = test_df[test_col_order]

# Print columns of test_df for verification
print("Test_df columns:")
print(test_df.columns.tolist())

Test_df columns:
['card_id', 'authorized_flag', 'city_id_x', 'category_1_x', 'installments', 'category_3', 'merchant_category_id_x', 'merchant_id', 'month_lag', 'purchase_amount', 'purchase_date', 'category_2_x', 'state_id_x', 'subsector_id_x', 'merchant_group_id', 'merchant_category_id_y', 'subsector_id_y', 'numerical_1', 'numerical_2', 'category_1_y', 'most_recent_sales_range', 'most_recent_purchases_range', 'avg_sales_lag3', 'avg_purchases_lag3', 'active_months_lag3', 'avg_sales_lag6', 'avg_purchases_lag6', 'active_months_lag6', 'avg_sales_lag12', 'avg_purchases_lag12', 'active_months_lag12', 'category_4', 'city_id_y', 'state_id_y', 'category_2_y', 'feature_1', 'feature_2', 'feature_3']

In [15]:
# Count unique card_ids in each dataframe
unique_final = final_df['card_id'].nunique()
unique_test = test_df['card_id'].nunique()

print(f"Number of unique card_id in final_df: {unique_final}")
print(f"Number of unique card_id in test_df: {unique_test}")

Number of unique card_id in final_df: 201917
Number of unique card_id in test_df: 123623

In [16]:
# Get the sets of card_ids from both dataframes
final_card_ids = set(final_df['card_id'])
test_card_ids = set(test_df['card_id'])

# Find common card_ids
common_card_ids = final_card_ids.intersection(test_card_ids)

print(f"Number of common card_id between final_df and test_df: {len(common_card_ids)}")
# Optionally, display a sample of common card_ids
print("Sample common card_id values:")
print(list(common_card_ids)[:10])

Number of common card_id between final_df and test_df: 0
Sample common card_id values:
[]

In [23]:
import numpy as np
import warnings

# Monkey-patch: if np.VisibleDeprecationWarning doesn't exist, assign it to DeprecationWarning
if not hasattr(np, 'VisibleDeprecationWarning'):
    np.VisibleDeprecationWarning = DeprecationWarning

import sweetviz as sv

# Drop card_id from the DataFrame for the report
df_profile = final_df.drop(columns=['card_id'], errors='ignore')

# Generate the report
report = sv.analyze(df_profile)
report.show_html("final_df_report.html")

                                             |                         | [  0%]   00:00 -> (? left)

KeyboardInterrupt: